<!DOCTYPE html>
<html>
  <title>This is the page</title>
    <body>
        <h1>User Story Manager-Add new Story</h1>
        <h2>Story Title</h2>
        <form action="/story">
          <input name="story_title" size="100"></input>
        </form>
        <h2>User Story</h2>
        <form action="/sotry">
          <textarea name="user_story" rows="8" cols="100"></textarea>
        </form>
        <h2>Acceptance Criteria</h2>
        <form action="/sotry">
          <textarea name="acceptance-criteria" rows="15" cols="100"></textarea>
        </form>
        <h2>Business value</h2>
				<input name='business_value' type="number" min="100" max="1500" step="100" />
      </form>
      <h2>Estimation</h2>
      <input name='estimation' type="number" min="0.5" max="40" step="0.5" />
      <h2>Status</h2>
      <select name='status'>
        <option value="Planning">Planning</option>
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Review">Review</option>
        <option value="Done">Done</option>
      </select>
    </body>
</html>
