<!DOCTYPE html>

<html>
<head>
    <title> User Story Manager</title>
</head>
<body>
    <h1>User Story Manager</h1>

    <form action="" method="post">

    <p><label>Story Title</label></p>
        <input name="story_title" value="{{u_st.story_title}}" required></p>
    <p><label>User Story</label></p>
        <textarea rows="10" cols="60" name="user_story" required>{{u_st.user_story}}</textarea></p>
    <p><label>Acceptance Criteria</label></p>
        <textarea rows="8" cols="60" name="criteria" required>{{u_st.criteria}}</textarea></p>
    <p><label>Business Value</label></p>
        <input type="number" min="100" max="1500" step="100" name="b_value" value='{{u_st.b_value}}' required></p>
    <p><label>Estimation</label></p>
        <input type="number" min="0.5" max="40" step="0.5" name="estimation" value='{{u_st.estimation}}' required></p>

    <p><label>Status</label>
    <select name="status">
    <option value="Planning" {{ "selected" if u_st.status == "Planning" else ""}}>Planning</option>
    <option value="In Progress" {{ "selected" if u_st.status == "In Progress" else ""}}>In Progress</option>
    <option value="To Do" {{ "selected" if u_st.status == "To Do" else ""}}>To Do</option>
    <option value="Review" {{ "selected" if u_st.status == "Review" else ""}}>Review</option>
    <option value="Done" {{ "selected" if u_st.status == "Done" else ""}}>Done</option>
    </select></p>

    <p><input type="submit" value="{{submit}}"></p>
    </form>
</body>
</html>
